<app-title-page titulo = "Envío de sugerencias"
                descrip ="Complete los siguientes pasos para enviarnos una sugerencia"
                fontawsome = "fa fa-2x fa-lightbulb-o"
                colorRibbon = "ribbon ribbon-corner ribbon-right ribbon-warning"
                ></app-title-page>
<div class="row" style="margin-top:25px;">
  <div class="col-md-12" *ngIf="valor!=3">
    <app-step-bystep [steps] = "step" [progress] = "valor"></app-step-bystep>
  </div>
</div>
<form class="form-material m-t-40" id="msform">
  <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="form-group">
          <h4 style="font-weight:500;">Datos del Cliente</h4>
          <h5 >Ingrese los datos de su empresa</h5>
          <input type="text" class="form-control form-control-line" placeholder="Razon social">
          <input type="text" class="form-control form-control-line" placeholder="Nombre">
          <input type="text" class="form-control form-control-line" placeholder="Sector">
        </div>
      </div>
      <div class="carousel-item">
        <div class="form-group">
          <h4 style="font-weight:500;">Datos del Sistema</h4>
          <h5 >Ingrese los datos sobre su versión</h5>
          <input type="text" class="form-control form-control-line" placeholder="Producto">
          <input type="text" class="form-control form-control-line" placeholder="Versión">
          <input type="text" class="form-control form-control-line" placeholder="Módulo">
        </div>
      </div>
      <div class="carousel-item">
        <div class="form-group">
          <h4 style="font-weight:500;">Sugerencia</h4>
          <h5 >Ingrese la sugerencia</h5>
          <input type="text" class="form-control form-control-line" placeholder="Asunto">
          <textarea name="address" placeholder="Describa sus comentarios aqui"></textarea>
        </div>
      </div>
      <div class="carousel-item">
        <div class="form-group">
          <i *ngIf="valor==3" class="fa fa-3x fa-check-circle faa-bounce animated text-success"></i>
          <h5 ></h5>
          <h4 style="font-weight:500;">Gracias por enviarnos una sugerencia</h4>

        </div>
      </div>
    </div>
  </div>
</form>
  <button style="margin:10px;" href="#carouselExampleControls" data-slide="prev" *ngIf="valor!=0 && valor<=2"(click)="anteriorStep()" type="button" class="btn btn-info"><i class="fa fa-chevron-left" aria-hidden="true"></i> Anterior</button>
  <button style="margin:10px;" href="#carouselExampleControls" data-slide="next" *ngIf="valor<step-1"(click)="siguienteStep()" type="button" class="btn btn-info">Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
  <button style="margin:10px;" href="#carouselExampleControls" data-slide="next" *ngIf="valor==step-1"(click)="enviar()" type="button" class="btn btn-success">Enviar <i class="fa fa-paper-plane" aria-hidden="true"></i></button>

   <a data-slide="prev" role="button" href="#carouselExampleControls" >
  </a>
<a data-slide="next" role="button" href="#carouselExampleControls" >
  </a>
