<form [formGroup]="forma"
      novalidate = "novalidate"
      autocomplete="off">
      <mat-form-field class = "example-full-width">
        <input class="form-control" [ngClass]="{'form-control-success': forma.get('inputFloating').valid && valid(),
                                                'form-control-danger':  (!forma.get('inputFloating').valid  || !valid())}"
              type="text"
               (ngModelChange)="onChanges($event)"
               matInput placeholder={{placeholder}}
               formControlName="inputFloating"
               [matAutocomplete]="autoGroup"
               [readonly]="disabled?true:null">

          <mat-error *ngIf="forma.controls['inputFloating'].errors?.required"
                      class="form-control-feedback">
              {{nombre}} es necesario
          </mat-error>
          <mat-error *ngIf="forma.controls['inputFloating'].errors?.email"
                      class="form-control-feedback">
              No es una dirección de email correcta
          </mat-error>
          <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-option *ngFor="let item of arrayItem"
                          (onSelectionChange) = "seleccionaValor(item)"
                          [value]="item | selected:' - '" >
                          {{item | selected:" - "}}
              </mat-option>
          </mat-autocomplete>

      </mat-form-field>
</form>
