  <app-angular-autocomplete [array] = "modulos"
                            nombre ="Módulo" placeholder = "{{moduloPlaceHolder}}"
                            (keyup)="getModulos(terminoModulo,$event)"
                            (click)="seleccionaModulo(modulo)"
                            [valor] = "valorModulo"
                            [requerido] = "requerido==true"
                            (valorSeleccionado) = "modulo = $event"
                            (actualizaEstado) = "moduloValido = $event"
                            (actualizaValor)="seleccionaModulo($event)"></app-angular-autocomplete>
  <app-angular-autocomplete nombre = "Objeto"
                            [array] = "objetos" placeholder = "{{objetoPlaceHolder}}"
                            (keyup)="getObjetos(modulo,terminoObjeto,$event)"
                            (click)="seleccionaObjeto(objeto)"
                            [valor] = "valorObjeto"
                            [requerido] = "requerido==true"
                            (valorSeleccionado) = "objeto = $event"
                            (actualizaEstado) = "objetoValido = $event"
                            (actualizaValor)="seleccionaObjeto($event)"></app-angular-autocomplete>
