  <app-angular-autocomplete [array] = "modulos" requerido = "true"
                            nombre ="Módulo" placeholder = "{{moduloPlaceHolder}}"
                            (keyup)="getModulos(termino,$event)"
                            (click)="seleccionaModulo(modulo)"
                            (valorSeleccionado) = "modulo = $event"
                            (actualizaEstado) = "moduloValido = $event"
                            (actualizaValor)="termino = $event"></app-angular-autocomplete>
  <app-angular-autocomplete nombre = "Objeto" requerido = "true"
                            (ngModelChange)="onChanges($event)"
                            [array] = "objetos" placeholder = "{{objetoPlaceHolder}}"
                            (keyup)="getObjetos(modulo,termino,$event)"
                            (click)="seleccionaObjeto(objeto)"
                            (valorSeleccionado) = "objeto = $event"
                            (actualizaEstado) = "objetoValido = $event"
                            (actualizaValor)="termino = $event"></app-angular-autocomplete>
