<app-title-page titulo = "Busqueda Avanzada"
                descrip = "Elija la versión de Softland, módulo y objeto, si es necesario indique el componente Dll"
                fontawsome = "fa fa-2x fa-search"
                colorRibbon = "ribbon ribbon-corner ribbon-right ribbon-danger"></app-title-page>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <app-angular-autocomplete [array] = "versiones" requerido = "true"
                                nombre ="Versión" placeholder = "Versión - EJ: 4.3.0"
                                (keyup)="getVersiones(version,$event)"
                                (click)="seleccionaVersion(version)"
                                (actualizaEstado)="versionValida = $event"
                                (valorSeleccionado) = "version = $event"
                                (actualizaValor)="seleccionaVersion($event)"></app-angular-autocomplete>

    </div>
    <div class="col-md-5">
      <app-angular-autocomplete nombre ="dll" disabled="true" placeholder="DLL asociada..."> </app-angular-autocomplete >
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <app-combo-modulo-objeto (objeto)="objeto = $event" (modulo)="modulo = $event"
                                 moduloPlaceHolder = "Módulo - EJ: Tesorería"
                                 objetoPlaceHolder="Objeto - EJ: Cuentas corrientes"
                                 [version] = "version" (comboEstado)="estado = $event"></app-combo-modulo-objeto>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <app-finder nombre = "Termino"  [botonvalido] ="estado && versionValida" ></app-finder>
  </div>
  <div class="col-md-1"></div>
</div>
