<app-title-page titulo = "Busqueda Avanzada"
                descrip = "Elija la versión de Softland, módulo y objeto, si es necesario indique el componente Dll"
                fontawsome = "fa fa-2x fa-search"
                colorRibbon = "ribbon ribbon-corner ribbon-right ribbon-danger"></app-title-page>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <app-floating-input  (actualizaValor)="termino = $event"  (valorSeleccionado) = "version = $event"
                          (actualizaEstado) = "versionValida = $event"
                          nombre ="version"  requerido = "true" placeholder="EJ: 4.3.0- Indique una versión.."
                          (keyup)="getVersiones(termino)" [array] = "versiones" validar="true"
                          (actualizaValor)="termino = $event" minLength = "1" (valorSeleccionado) = "version = $event"></app-floating-input>

    </div>
    <div class="col-md-5">
      <app-floating-input nombre ="dll" disabled="true" placeholder="DLL asociada..."></app-floating-input>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <app-floating-input nombre ="modulo"  (actualizaValor)="termino = $event" minLength = "2" (valorSeleccionado) = "modulo = $event"
                        (actualizaEstado) = "moduloValido = $event"
                        validar = "true" [disabled] = "objetoValido?true:null"
                        requerido = "true" placeholder="Seleccione un módulo... - EJ: Tesorería"
                        [array] = "modulos" (keyup)="getModulos(termino)"(click)="seleccionaModulo(modulo)"></app-floating-input>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <app-floating-input nombre ="objeto"  (actualizaValor)="termino = $event"  minLength = "4"
                          (actualizaEstado) = "objetoValido = $event"
                          validar = "true"
                          [disabled] = "moduloValido==true?null:true"
                          requerido = "true" placeholder="Indique el objeto... - EJ: Cuentas corrientes por fecha"
                          [array] = "objetos" (keyup)="getObjetos(modulo,termino)" ></app-floating-input>
    </div>
    <div class="col-md-1"></div>
  </div>

</div>
<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <app-finder [botonvalido] = " moduloValido==true && objetoValido==true && versionValida==true?true:null"></app-finder>
  </div>
  <div class="col-md-1"></div>
</div>
