<div class="row" style="margin-top:25px;">
  <div class="col-md-12" *ngIf="valor!=3">
    <app-step-bystep [steps] = "step" [progress] = "valor"></app-step-bystep>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="form-material m-t-40"  id="carouselExampleControls" class="carousel slide"
         data-interval="false" data-ride="carousel"  data-pause="hover">
      <div class="carousel-inner" >
        <div class="carousel-item active">
          <div class="form-group">
            <h4 style="font-weight:500;">Datos del Cliente</h4>
            <h5 >Ingrese los datos de su empresa</h5>
            <app-angular-autocomplete nombre ="Razón social" [disabled]="true"
                                      requerido = "true"
                                      placeholder="Razón social"
                                      [valor] = "valorRazonSocial"></app-angular-autocomplete>
            <app-angular-autocomplete [array] = "contactos"
                                      requerido = "true"
                                      nombre ="Contacto"
                                      placeholder = "Contacto"
                                      [validar] = "true"
                                      (keyup)="getContactos(termino,$event)"
                                      (click) = "seleccionaContacto(contacto)"
                                      (actualizaEstado)="contactoValid = $event"
                                      (actualizaValor)="termino = $event"></app-angular-autocomplete>

            <button style="margin:10px;" href="#carouselExampleControls" data-slide="prev"
                    *ngIf="valor!=0 && valor<=2"(click)="anteriorStep()" class="btn btn-info" >
                    <i class="fa fa-chevron-left"></i> Anterior</button>
            <button style="margin:10px;" href="#carouselExampleControls" data-slide="next"
                    *ngIf="valor<step-1" (click)="siguienteStep()" class="btn btn-info"
                    [attr.disabled]="!contactoValid?true:null"> Siguiente
                    <i class="fa fa-chevron-right"></i></button>
            <button style="margin:10px;" href="#carouselExampleControls" data-slide="next"
                    *ngIf="valor==step-1"(click)="enviar()" class="btn btn-success">Enviar
                    <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
        <div class="carousel-item">
          <div class="form-group">
            <h4 style="font-weight:500;">Datos del Sistema</h4>
            <h5 >Ingrese los datos sobre su versión</h5>
            <app-angular-autocomplete [array] = "versiones"
                                      requerido = "true"
                                      nombre ="Versión"
                                      placeholder = "Versión"
                                      [validar] = "true"
                                      (actualizaEstado)="versionValid = $event"
                                      (actualizaValor)="termino = $event"
                                      [valor] = "valorVersion"
                                      (keyup)="getVersiones(termino,$event)"
                                      (click) = "seleccionaVersion(version)"
                                      (valorSeleccionado) = "version = $event"></app-angular-autocomplete>

            <app-combo-modulo-objeto (objeto)="objeto = $event"
                                     (modulo)="modulo = $event"
                                     [valorObjeto] = "valorObjeto"
                                     [valorModulo] = "valorModulo"
                                     moduloPlaceHolder ="Modulo"
                                     objetoPlaceHolder="Objeto"
                                     [requerido] = "true"
                                     [version] = "version"
                                     (comboEstado) = "comboValid = $event"></app-combo-modulo-objeto>

                  <button style="margin:10px;" href="#carouselExampleControls" data-slide="prev"
                          *ngIf="valor!=0 && valor<=2"(click)="anteriorStep()" class="btn btn-info" >
                          <i class="fa fa-chevron-left"></i> Anterior</button>
                  <button style="margin:10px;" href="#carouselExampleControls" data-slide="next"
                          *ngIf="valor<step-1" (click)="siguienteStep()" class="btn btn-info"
                          [attr.disabled]="!versionValid|| !comboValid ?true:null"> Siguiente
                          <i class="fa fa-chevron-right"></i></button>
                  <button style="margin:10px;" href="#carouselExampleControls" data-slide="next"
                          *ngIf="valor==step-1"(click)="enviar()" class="btn btn-success">Enviar
                          <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
        <div class="carousel-item">
          <div class="form-group">
            <h4 style="font-weight:500;">{{titulo}}</h4>
            <h5 >{{subtitulo}}</h5>
            <app-angular-autocomplete [array] = "impactos"
                                  requerido = "true"
                                  nombre ="Impacto"
                                  placeholder = "Impacto"
                                  (actualizaEstado)="impactoValid = $event"
                                  (actualizaValor)="termino = $event"
                                  [valor] = "valorImpacto"
                                  [validar] = "true"
                                  (keyup)="getGradosImpacto(termino,$event)"
                                  (click) = "seleccionaImpacto(version)"
                                  (valorSeleccionado) = "impacto = $event"></app-angular-autocomplete>
        <app-angular-autocomplete [array] = "ocurrencias"
                                  requerido = "true"
                                  nombre ="Ocurrencia"
                                  placeholder = "Ocurrencia"
                                  (actualizaEstado)="ocurrenciaValid = $event"
                                  (actualizaValor)="termino = $event"
                                  [valor] = "valorOcurrencia"
                                  [validar] = "true"
                                  (keyup)="getGradosOcurrencia(termino,$event)"
                                  (click) = "seleccionaOcurrencia(version)"
                                  (valorSeleccionado) = "ocurrencia = $event"></app-angular-autocomplete>
              <form class="was-validated">
              <div class="mb-3">
                <label for="validationTextarea"></label>
                <textarea class="form-control is-invalid"
                          id="validationTextarea"
                          placeholder="Descripción"
                          required></textarea>
              </div>
            </form>
            <button style="margin:10px;" href="#carouselExampleControls" data-slide="prev"
                    *ngIf="valor!=0 && valor<=2"(click)="anteriorStep()" class="btn btn-info" >
                    <i class="fa fa-chevron-left"></i> Anterior</button>
            <button style="margin:10px;" href="#carouselExampleControls" data-slide="next"
                    *ngIf="valor<step-1" (click)="siguienteStep()" class="btn btn-info" > Siguiente
                    <i class="fa fa-chevron-right"></i></button>
             <button style="margin:10px;" href="#carouselExampleControls" data-slide="next"
                     *ngIf="valor==step-1"(click)="enviar()" class="btn btn-success"
                     [attr.disabled] = "!impactoValid || !ocurrenciaValid ?true:null">Enviar
                     <i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="form-group">
            <i *ngIf="valor==3" class="fa fa-3x fa-check-circle faa-bounce animated text-success"></i>
            <h5 ></h5>
            <h4 style="font-weight:500;">{{mensajeFinal}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
