<app-title-page titulo = "Ingrese el código o mensaje de error"
                descrip ="Luego seleccione de la lista desplegable el error encontrado"
                fontawsome = "fa fa-2x fa-book"
                colorRibbon = "ribbon ribbon-corner ribbon-right ribbon-info">
</app-title-page>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <app-angular-autocomplete [array] = "codigoSelect" requerido = "true"  (ngModelChange)="onChanges($event)"
                              nombre ="Código" placeholder = "EJ: GR000016 -  Mensaje de error.."
                              (valorSeleccionado) = "codigo = $event"
                              (actualizaValor)="termino = $event"
                              (keyup)="getError(termino,$event)"
                              (click)="seleccionaError(codigo)"></app-angular-autocomplete>
  </div>
  <div class="col-md-1"></div>
</div>
<button (click) = "mostrarModal()"  [attr.disabled] ="(termino==null||termino=='')?false:null"  class="btn btn-info">Buscar</button>
