<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div class="navbar-header">
          <a class="navbar-brand">
             <b>
              <img *ngIf="mostrar" src="assets/images/avatar6.png" alt="homepage" class="dark-logo profile-pic" />
              <img *ngIf="mostrar" src="assets/images/avatar2.png" alt="homepage" class="light-logo profile-pic" /></b>
              <span><img src="assets/images/logo-sar.png" alt="homepage" class="dark-logo" style="width:210px; max-width:220px; height:auto; margin:5px;"/></span>
              <span><img src="assets/images/logo-sar-light.png" alt="homepage" class="light-logo" style="width:210px; max-width:220px; height:auto;margin:5px;"/></span>
          </a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul   class="navbar-nav mr-auto">
              <!-- This is  -->
              <li (click)="mostrar = !mostrar" class="nav-item"> <a class="nav-link hidden-md-up waves-effect waves-dark" href="javascript:void(0)" ><i class="ti-menu"></i></a> </li>
              <li (click)="mostrar = !mostrar" class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"  href="javascript:void(0)" ><i class="ti-menu"></i></a> </li>
              <li class="nav-item hidden-sm-down"></li>
          </ul>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <ul class="navbar-nav my-lg-0">
            <!-- ============================================================== -->
            <!-- Messages -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                  <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
              </a>
              <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
                  <ul>
                      <li>
                          <div class="drop-title">You have 0 new messages</div>
                      </li>
                      <li>
                          <div class="message-center">
                              <!-- Message -->
                              <!-- <a href="#">
                                  <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                  <div class="mail-contnet">
                                      <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                              </a> -->
                              <!-- Message -->
                              <!-- <a href="#">
                                  <div class="user-img"> <img src="../assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                  <div class="mail-contnet">
                                      <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                              </a> -->
                              <!-- Message -->
                              <!-- <a href="#">
                                  <div class="user-img"> <img src="../assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                  <div class="mail-contnet">
                                      <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                              </a> -->
                              <!-- Message -->
                              <!-- <a href="#">
                                  <div class="user-img"> <img src="../assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                  <div class="mail-contnet">
                                      <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                              </a> -->
                          </div>
                      </li>
                      <li>
                          <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                      </li>
                  </ul>
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- mega menu -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown mega-dropdown" (click)="getNovedadesGeneral()" >
              <a click="getNovedadesGeneral()" class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-message"></i>
                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
              </a>
                <div click="getNovedadesGeneral()" class="dropdown-menu animated bounceInDown">
                    <ul class="mega-dropdown-menu row">
                        <li class="col-lg-8 col-xlg-8">
                            <!-- CAROUSEL -->
                            <div class="container-fluid">
                                <h4 class="m-b-20">NOVEDADES</h4>
                                <app-carrousel-multiple [content] = "novedadesGenerales"></app-carrousel-multiple>
                            </div>
                        </li>
                        <li class="col-lg-4 col-xlg-4 m-b-20">
                            <h4 class="m-b-20">DOCUMENTACIÓN</h4>
                            <!-- List style -->
                            <app-accordion [content] =  "novedadesGenerales"></app-accordion>
                            <!-- <ul class="list-style-none">
                                <li *ngFor="let item of recalcularCards()"><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> {{ item.Titulo}}</a></li>
                            </ul> -->
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle waves-effect waves-dark right-side-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
            </li>
            <!-- ============================================================== -->
            <!-- End mega menu -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Messages -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== -->
          </ul>
          <ul class="navbar-nav my-lg-0">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-dark" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/avatar1.png" alt="user" class="profile-pic" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-dark" (click)="Logout()">
                <span><i class="fa fa-1.5x fa-sign-out"></i>Salir</span>
              </a>
            </li>
          </ul>
      </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
