!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
             <li class="user-profile">
                  <a class="waves-effect waves-dark hide-menu" href="#" aria-expanded="false">
                    <img src="../assets/images/avatar1.png" alt ="empresa"/></a>
                    <a class="waves-effect waves-dark center" >{{usuario.empresa.name|| ''}}</a>
</li>
<li class="nav-devider"></li>

              <li class="user-profile hide-menu">
                  <li [routerLink]="['/perfil']"> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Ver perfil</span></a>

              </li>
              <li class="nav-devider"></li>

              <li class="nav-small-cap">PERSONAL</li>
              <li *ngFor="let menu of _sidebar.menu">
                <li [routerLink]="menu.url" *ngFor="let menu of _sidebar.menu"> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="menu.icono"></i><span class="hide-menu" >{{menu.titulo}} <span *ngIf="menu.url == documentos"class="label label-rouded label-themecolor pull-right"><b>+</b></span></span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li style="cursor: pointer;"  [routerLink]="sidemenu.url" *ngFor="let sidemenu of menu.sideMenu"><a ><i [class]="sidemenu.icono" style="margin-right:5px"></i>{{sidemenu.titulo}} </a></li>
                  </ul>
              </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
