<div class="row page-titles" style="margin-right:20px;">
    <div class="col-md-12">
      <ol class="breadcrumb">
            <li class="breadcrumb-item pointer" >
                <a [routerLink]="['/panel']" (click)="home()"><i class="fa fa-1x fa-home"></i></a>
            </li>
            <li class="breadcrumb-item pointer" *ngFor="let item of ruta" >
                <a routerLink="{{item.ruta}}">{{item.nombre}}</a>
            </li>
          <li class="breadcrumb-item">{{titulo}}</li>
      </ol>
      <!-- <div class="">
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
      </div> -->
  </div>
</div>
