<form [formGroup] = "forma"
      novalidate = "novalidate"
      autocomplete="off"
      class="m-t-40 " [ngClass]="{'floating-labels': floating }">
    <div class="form-group has-feedback floating-labels" [ngClass]="{'has-danger': !forma.get('inputFloating').valid && forma.get('inputFloating').dirty,
                                                     'has-error': !forma.get('inputFloating').valid && forma.get('inputFloating').dirty,
                                                     'has-success': forma.get('inputFloating').valid && invalid() && forma.get('inputFloating').dirty}">
      <div class="select-code p-0">
        <input #inputFloating focusout="focusid()" (ngModelChange)="onChanges($event)"
               class="form-control form-control-line" [ngClass]="{'form-control-danger': !forma.get('inputFloating').valid && forma.get('inputFloating').touched && !forma.get('inputFloating').pristine ,
                                                'form-control-success': forma.get('inputFloating').valid && invalid() && forma.get('inputFloating').touched && !forma.get('inputFloating').pristine,
                                              'disabled':isenabledparam } "
               type="text"
               formControlName = "inputFloating"
               id="input1"
               [attr.disabled]="isenabledparam?true:null" >

        <span class="bar" [ngClass]="{'disabledbar':isenabledparam } " ></span>
        <div  *ngIf="forma.controls['inputFloating'].errors?.required && forma.get('inputFloating').dirty"
            class="form-control-feedback">
            {{nombre}} es necesario
        </div>
        <div #txtInputLength *ngIf="forma.get('inputFloating').errors?.minlength"
            class="form-control-feedback">
            Se necesitan al menos {{minLength}} caracteres.
        </div>

        <label for="input1"  *ngIf="floating" >{{placeholder}} </label>
        <div [ngClass]="{'listas': arrayItem.length>0}">
          <ul *ngFor="let item of arrayItem" class="list-group">
            <li (click)="recupera(item)" class="list-group-item" style="border:none; border-bottom:1px;" routerLinkActive = "active">
              <p>{{item.codigo}} - {{item.descripcion}}</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
</form>
