<form [formGroup] = "forma"
      novalidate = "novalidate"
      autocomplete="off"
      class="m-t-40 " [ngClass]="{'floating-labels': floating }">
      <div class="form-group has-feedback floating-labels"
          [ngClass]="{'has-danger': (!forma.get('inputFloating').valid || (arrayItem.length==0 && validar)) && (!valid()|| !validar) ,
                                                       'has-error': (!forma.get('inputFloating').valid || (arrayItem.length==0 && validar)) && !valid() && !forma.get('inputFloating').pristine,
                                                       'has-success': forma.get('inputFloating').valid && (valid() || validar) }">
      <div class="select-code p-0">
        <input #inputFloating (focus)="onFocus()" (blur)="outFocus()" (ngModelChange)="onChanges($event)"
               class="form-control form-control-line"
               [ngClass]="{'form-control-danger': (!forma.get('inputFloating').valid || (arrayItem.length==0 && validar)) && !valid() && !forma.get('inputFloating').pristine ,
                                                'form-control-success': forma.get('inputFloating').valid && (valid() || !validar) ,
                                                'disabled':isenabledparam } "
               type="text"
               formControlName = "inputFloating"
               id="input1"
               [attr.disabled]="isenabledparam?true:null">

        <span class="bar" [ngClass]="{'disabledbar':isenabledparam } " ></span>
        <div  *ngIf="forma.controls['inputFloating'].errors?.required && !forma.get('inputFloating').pristine && !focus"
            class="form-control-feedback">
            {{nombre}} es necesario
        </div>
        <div #txtInputLength *ngIf="forma.get('inputFloating').errors?.minlength && !focus"
            class="form-control-feedback">
            Se necesitan al menos {{minLength}} caracteres.
        </div>
        <div *ngIf="arrayItem.length==0 && validar && forma.get('inputFloating').dirty && forma.get('inputFloating').valid && !valid() && !focus"
            class="form-control-feedback">
            Valor inválido
        </div>
        <label for="input1"  *ngIf="floating" >{{placeholder}} </label>
        <div *ngIf="focus && arrayItem.length>0"[ngClass]="{'listas': arrayItem}" data-spy="scroll" data-offset="0" class="scrollspy-example combo">
            <span style="margin-left: 10px;" *ngIf="focus && termino.length>0 && arrayItem.length == 0"><i class="fa fa-refresh fa-spin"></i> Cargando...</span>
            <span style="margin-left: 10px;" *ngIf="focus && termino.length==0 && arrayItem.length == 0"> ......  </span>
          <ul *ngFor="let item of arrayItem" class="list-group ">
            <li *ngFor="let item of arrayItem"  (click)="seleccionaItem(item)" class="list-group-item" style="border:none; border-bottom:1px;" routerLinkActive = "active">
              <p>{{item.codigo}} - {{item.descripcion}}</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
</form>
